<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="POST">
      <label for="weight">Weight</label>
      <input type="text" name="weight" /> <br />
      <br />
      <label for="height">Height</label>
      <input type="text" name="height" id="" /> <br />
      <br />
      <button type="submit">Calculate</button>
    </form>

    {% if bmi %}
    <p style="color: blue;">The Bmi is {{ bmi }}</p>
    {% endif %}

    {% if error %}
    <p style="color: red;">{{ error }}</p>
    {% endif %}
</body>
</html>