<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="" method="POST">
      <label for="USERNAME">Username</label>
      <input type="text" name="USERNAME" /> <br />
      <br />
      <label for="PASSOWORD">Password</label>
      <input type="text" name="PASSWORD" id="" /> <br />
      <br />
      <button type="submit">SUBMIT</button>
    </form>
  </body>
</html>
